.menus-Menu {
  position: absolute;
  inset: 0;
  background-color: #000000cc;
  backdrop-filter: blur(2px);
  padding: 10px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    flex: 1 2;
  }

  .scroll {
    max-height: 100vh;
    padding: 20px 30px;
    overflow-y: auto;

    > .title {
      font-size: 30px;
      color: white;
      text-align: center;
    }

    .content {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .bottom {
    flex: 2 1;
  }

  &:not(.active) {
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }
}
