.headers-Failure {
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 200px);
  width: 300px;
  height: 280px;
  border: 2px solid #ddd;
  background-color: #000000cc;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    user-select: none;

    .title {
      font-size: 30px;
      color: #f20;
    }

    .round {
      color: #888;
    }

    .score {
      margin-top: 20px;
      color: white;
    }

    .button {
      margin-top: 30px;
      width: 200px;
      height: 40px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: black;
      cursor: pointer;
    }
  }

  &.active {
    transition: 0.1s cubic-bezier(0.63, 0.07, 0.58, 2.02);
  }

  &:not(.active) {
    scale: 0.8;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}
