.headers-RebirthExit {
  position: relative;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid white;
  cursor: pointer;

  .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #444;
  }

  .text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  }
}
